a.flyout-toggle {
	padding: 0px;
}

.attached {
	background-color: #646464;
	border-color: #08C;
}

.attached li {
	color: #fff;
	font-weight: 500;
}

.attached ul.nav-bar {
	margin-bottom: 0;
	margin-top: 0;
}

#menu .nav-bar > li.has-flyout > a:first-child {
	padding-right: 25px;
	padding-left: 10px;
}

#menu .nav-bar > li.has-flyout > a:first-child:after {
	right: 12px;
	top: 12px;
	border-width: 3px;
}

#menu .nav-bar li ul li a {
	padding: 5px 10px 2px;
	border: 0px;
	box-shadow: none;
	color: #08C;
	font-size: 13px;
}

#menu .nav-bar li ul li a:hover {
	background: none;
}

#menu .nav-bar > li > a:first-child {
	font-size: 13px;
	font-weight: 500;
}

#menu .nav-bar > li > a:hover {
	background: #fff;
	color: #08C;
	border-radius: 2px;
}

#menu .nav-bar > li.has-flyout > a.flyout-toggle {
	padding: 0;
}

#menu .flyout {
	top: 25px;
	box-shadow: none;
}

#menu .row:first-of-type {
	margin-bottom: 15px;
}

#menu {
	padding: 0px;
	background: #000;
}

#menu .nav-bar {
	margin: 0px;
	float: right;
	height: 29px;
	background-color: #646464;
	padding: 2px;
	width: 940px;
}

#menu .nav-bar li {
	border: 0;
	margin-bottom: 10px;
	line-height: 25px;
	box-shadow: none;
}

#menu .nav-bar a h6, #menu .nav-bar a p {
	color: #08C;
}

#menu .nav-bar a:hover h6 {
	color: #08C;
}