<div id="header" class="row hide-for-small">
		<div id="logo" class="two columns">
			<a href="/"><img src="{{STATIC_URL}}images/logo.png" title="Home" alt="Home"></a>
		</div>

		<div id="menu" class="menu-bar twelve columns">
			{% include "_navbar.html" %}
		</div>

	</div>

	<div class="attached show-for-small">
    	<div class="row">
			<li class="name mobile-four">
				<a href="/"><span class="show-for-small glyph general">m</span>{{SITE_NAME}}</a><a href="#"></a>
			</li>
			<ul class="nav-bar menu mobile-four">
				{% block topbar %}
					{% block nav %}
						{% include "_navbar.html" %}
					{% endblock %}
					{% block account_bar %}{% endblock %}
				{% endblock %}
			</ul>
		</div>
	</div>